@media (min-width : 1100px) {
    
    .outer_div{
        position: fixed;
        width: 100%;
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-around;
        align-items: center;
        z-index: 99;
    }
    .outer_div p{
        font-size: 30px;
        color: white;

    }

    .outer_div p span{
        color: #4caf50;
        font-weight: 400;
    }
    .ul_list{
        height: 8rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    .ul_list :hover{
        color: #4caf50;
    }

    .ul_list li{
        margin: 0px 0px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
    }
    .btn{
        color: rgb(12, 12, 12);
        font-size: 15px;
        background-color: #70a4c9;
        padding: 5px 15px;
        border-radius: 8px;
        font-weight: 500;
    }
}


@media (min-width : 900px) {
    .outer_div{
        position: fixed;
        width: 100%;
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-around;
        align-items: center;
        z-index: 99;
    }
    .outer_div p{
        font-size: 30px;
        color: white;
    }
    .ul_list{
        height: 8rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    .ul_list :hover{
        color: #4caf50;
    }


    .ul_list li{
        margin: 0px 0px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        padding: 5px 20px;
        border-radius: 10px;
    }
    .btn{
        color: rgb(12, 12, 12);
        font-size: 15px;
        background-color: #70a4c9;
        padding: 5px 15px;
        border-radius: 8px;
        font-weight: 500;
    }
}

@media (min-width : 900px) {
  
}

